credentials.json
ext_tables_config.json
dataset_bucket_config.json
__pycache__
.terraform
.terraform.lock.hcl
terraform.tfstate
data/raw/*.csv
data/clean/*.csv
dbt/profiles.yml
dbt/models/core/schema.yml
dbt/logs/*
logs/*
dbt/seeds/*.csv